<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>722175251638-ciaj72bp84ffnufq66275anfe1i9ooda.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyACX77X7vAX3BThEzqcuP0G4dlWy3_zlXc</string>
	<key>GCM_SENDER_ID</key>
	<string>722175251638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.heeling.mobile</string>
	<key>PROJECT_ID</key>
	<string>bribi-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>bribi-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722175251638:ios:4f87a108e53ae743498217</string>
</dict>
</plist>